<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo pacifico">Scrape That Beach</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="pacifico" href="http://www.myrtlebeachonline.com/latest-news/">Myrtle Beach Online</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="http://www.myrtlebeachonline.com/latest-news/">Myrtle Beach Online</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2 pacifico">Scrape That Beach</h1>
      <div class="row center">
        <h5 id="banner-header-2" class="header col s12 light">MongoDB enabled web scraper collecting all articles posted on Myrtle Beach Online</h5>
      </div>
      <div class="row center">
        <a href="http://github.com/stehar14/newsscraper" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Check out the GitHub Repo</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/beach1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="section">

<!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">track_changes</i></h2>
          <h5 class="center pacifico">Scrape</h5>
          <p class="center light">Whenever a user presses the scrape button below, we will scrape Myrtle Beach Online in order to obtain any new articles with some help from the Cheerio Node.js package.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">subject</i></h2>
          <h5 class="center pacifico">Populate</h5>
          <p class="center light">After obtaining information related to new articles, we will add it to a Mongo database with the help of the Mongoose package before displaying all articles in the browser.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">note_add</i></h2>
          <h5 class="center pacifico">Comment</h5>
          <p class="center light">Users may select any article displayed and comment on it or leave a note for later. This function is especially useful for people looking for discourse on articles or doing research.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <a href="/scrape" id="button">
          <span>Scrape That Beach!</span>
        </a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/beach2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4 class="center pacifico">About Sun News and Myrtle Beach Online</h4>
        <p class="center light">The Sun News is the Grand Strand's local news leader. They are passionate about their responsibility as being Horry County's most compelling and trustworthy information source through their newspaper, other print products, and websites. While primarily a coastal tourism-based community, the region also contains rural, agricultural and some light industrial sections. The area's population is composed of a distinct mix of "native"-born locals and residents who have relocated to the area from all over the world. Myrtle Beach and the Grand Strand area are considered one of the country's most visited family and golf vacation destinations.</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/beach3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l2"></div>
      <div class="col l5 s12">
        <h5 class="white-text">About the Developer</h5>
        <p class="grey-text text-lighten-4">Steve Harold is an up an coming web developer who prides himself on creating sleek, functional, creative front end designs and user interfaces along with effecient back end logic.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <a href="http://www.github.com/stehar14" target="_blank"><img class="connectimg" src="assets/images/github.png" alt="My Github Page"></a>
			  <a href="http://www.linkedin.com/in/steven-harold/" target="_blank"><img class="connectimg" src="assets/images/linkedin.png" alt="My Linkedin Page"></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="center">
        <span class="center">Made by Steve Harold</span>
      </div>
    </div>
  </div>
</footer>
<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>